.header {
    display: flex;
    justify-content: end;
    background-color: #007bff;
    color: white;
    padding: 15px;
    padding-right: 70px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

.badge {
    width: 100%;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative;
}