.review_card {
    width: 97%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.review_header {
    font-size: 20px;
    background: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars {
    font-size: 20px;
    color: gold;
}

.review_body {
    font-size: 20px;
    padding: 10px;
    color: black;
    background-color: rgb(238, 238, 238);
}

.review_body p {
    margin: 10px 0;
}