.textSmall {
  font-size: 0.9em;
  color: rgba(228, 228, 228, 0.61);
}

.cardBackground {
  height: 350px;
  width: 100%;
  background-image: url('../public/jumbo.jpg');
  background-size: cover;
  background-position-y: -150px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 6px 9px -4px rgba(22, 74, 130, 1);
  -moz-box-shadow: 0px 6px 9px -4px rgba(22, 74, 130, 1);
  box-shadow: 0px 6px 9px -4px rgba(22, 74, 130, 1);
}
