.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.doctorCard {
    background-color: #f5fbfc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.doctorCard h2 {
    font-size: 1.5rem;
    margin: 0;
}

.doctorCard p {
    font-size: 1rem;
    margin: 8px 0;
}

.image {
    max-width: 400px;
}

.nameSurname {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

.details {
    text-align: left;
    margin-top: 20px;
}

.review_card {
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #f5fbfc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}