.badgeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
}

.badge {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    background: rgb(238, 238, 238);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    background: #007bff;
    position: absolute;
    transform: translateX(-50%);
}

.header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

.profileContainer {
    position: absolute;
    top: 15%;
    left: 10%;
}

.vote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.doctorName {
    font-size: 2em;
    font-weight: bold;
}

.specialization {
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
}

.detailsSection {
    margin: 15px 0;
    padding: 0 20px;
    padding-top: 55px;
}

.detailsSection p {
    font-size: 16px;
}

.signatureSection {
    padding-top: 35px;
}

.signature {
    width: 120px;
    height: 30px;
    border-bottom: 2px solid black;
    margin-left: auto;
}

.barcode {
    width: 100px;
    height: 30px;
    background: repeating-linear-gradient(90deg, black 0px, black 2px, white 2px, white 4px);
}

.d-flex.justify-content-between {
    margin-top: 20px;
}

@media (max-width: 992px) {
    .profileImage {
        width: 130px;
        height: 130px;
    }

    .profileContainer {
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
    }

    .header {
        font-size: 1.5em;
    }

    .doctorName {
        font-size: 1.5em;
    }

    .specialization {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .badge {
        width: 350px;
    }

    .profileImage {
        width: 120px;
        height: 120px;
    }

    .profileContainer {
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
    }

    .doctorName {
        font-size: 18px;
    }

    .detailsSection {
        display: flex;
        text-align: left;
        padding-top: 0px;
    }

    .header {
        font-size: 1.3em;
    }
}

@media (max-width: 576px) {
    .badge {
        width: 320px;
    }

    .profileImage {
        width: 100px;
        height: 100px;
    }

    .profileContainer {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .doctorName {
        font-size: 16px;
    }

    .detailsSection p {
        font-size: 11px;
    }

    .header {
        font-size: 1em;
    }
}