.badgeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px;
}

.stars {
    font-size: 3em;
}

.badge {
    width: 100%;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative;
}


.header {
    display: flex;
    justify-content: end;
    background-color: #007bff;
    color: white;
    padding: 15px;
    padding-right: 70px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

.profileContainer {
    position: absolute;
    top: 30px;
    left: 11%;
    transform: translateX(-50%);
}

.vote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#big_image {
    width: 50%;

}

.profileImage {
    width: 20%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    background: #007bff;
}

.infoSection {
    margin-top: 20px;
}

#info_wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 0;
}

.doctorName {

    font-size: 2em;
    font-weight: bold;
}

.specialization {
    color: #007bff;
    font-weight: bold;
    font-size: 14px;
}

.detailsSection {

    padding: 0 20px;
    flex-wrap: nowrap;


}

.detailsSection div p {
    font-size: 16px;
    margin-bottom: 0;
}

.one_info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 15px;
}

.signatureSection {
    padding-top: 35px;
}

.signature {
    width: 120px;
    height: 30px;
    border-bottom: 2px solid black;
    margin-left: auto;
}

.barcode {
    width: 100px;
    height: 30px;
    background: repeating-linear-gradient(90deg, black 0px, black 2px, white 2px, white 4px);
}

@media (max-width: 1400px) {
    .profileContainer {
        position: absolute;
        top: 35px;
        left: 12%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .profileContainer {
        position: absolute;
        top: 35px;
        left: 13%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }

    .doctorName {
        font-size: 150%;
    }
}


@media (max-width: 992px) {
    .profileImage {
        width: 25%;
    }

    #big_image {
        width: 70%;

    }

    .doctorName {
        font-size: 180%;

    }

    .one_info {
        justify-content: center;
    }

    .profileContainer {
        position: absolute;
        top: 35px;
        left: 16%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
    }

    .header {
        background-color: #007bff;
        color: white;
        padding: 15px;
        font-size: 1.3em;
        font-weight: bold;
        border-radius: 8px 8px 0 0;
        padding-left: 35px;
    }

}

@media (max-width: 768px) {
    .badge {
        width: 500px;
    }

    .profileImage {
        width: 30%;
    }

    #big_image {

        width: 60%;

    }

    .profileContainer {
        position: absolute;
        top: 35px;
        left: 19%;
        transform: translateX(-50%);
    }

    .infoSection {
        margin-top: 10px;
        padding-left: 25px;
    }

    .one_info {
        display: block;
    }

    .doctorName {
        font-size: 140%;
    }

    .detailsSection {

        text-align: left;
        padding-top: 0px;
    }

    .header {
        background-color: #007bff;
        color: white;
        padding: 15px;
        font-size: 1.3em;
        font-weight: bold;
        border-radius: 8px 8px 0 0;
        padding-left: 35px;
    }
}

@media (max-width: 576px) {
    .badge {
        width: 320px;
    }

    .profileImage {
        width: 30%;
    }

    #big_image {

        width: 90%;

    }

    .profileContainer {
        position: absolute;
        top: 30px;
        left: 22%;
        transform: translateX(-50%);
    }

    .doctorName {
        font-size: 16px;
    }

    .detailsSection div p {
        font-size: 11px;
    }



    .header {
        background-color: #007bff;
        color: white;
        padding: 15px;
        font-size: 1em;
        font-weight: bold;
        border-radius: 8px 8px 0 0;
    }
}