header {
  min-height: 100px;
  max-height: 100px;
}

body {
  overflow-x: hidden;
}

main {
  padding-bottom: 50px;
  overflow-y: hidden;
  min-height: calc(100vh - 150px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    /* Bianco puro */ rgba(200, 230, 230, 1) 20%,
    /* Una tonalità di bianco molto chiara, con un po' di azzurro/grigio */
      rgba(150, 200, 220, 1) 40%,
    /* Un azzurro più intenso */ rgba(50, 150, 200, 1) 60%,
    /* Un blu chiaro, simile a un azzurro intenso */ rgba(16, 126, 148, 1) 80%,
    /* Blu-verde più scuro */ rgba(16, 126, 148, 1) 100%
      /* Blu-verde intenso al 100% */
  );
}

#overlay {
  background: linear-gradient(
    to right,
    rgba(10, 105, 139, 0.425),
    rgba(10, 105, 139, 0.425)
  ) !important;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  max-height: 100px;
  min-height: 100px;
  font-size: 20px;
  background: white;
  width: 100%;
  box-shadow: 0px 6px 9px -4px rgba(22, 74, 130, 1);
  z-index: 1;
}

#sing-in-wrapper {
  display: flex;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 20px;
}

.navbar a:hover {
  color: #007bff;
}

.navbar-toggler {
  background-color: white;
}

.nav-item {
  width: 200px;
}

.nav-link {
  background-color: #f8f9fa;
  width: 200px;
}

.dropdown-menu {
  background-color: #f8f9fa;
  width: 300px;
  margin-left: 20px;
  max-height: 200px;
  overflow-y: scroll;
}

.dropdown-item {
  width: 250px;
}

footer {
  max-height: 50px;
  min-height: 50px;
  background: rgba(9, 99, 172, 0.733);
  color: black;
  text-align: center;
  width: 100%;
}

.footer a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: none;
  color: rgb(61, 167, 253);
}

.form-label {
  margin-top: 20px;
}

form {
  padding: 20px;
  background-color: #600808;
  max-width: 800px;
  margin: 0 auto;
}

.some-shadow {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.form-waring {
  max-width: 800px;
  margin: 0 auto;
}

.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

#form {
  background-color: #18202300 !important;
}
