header {
  max-height: 100px;
  /* Usa solo height, non min-height/max-height */
  max-height: 100px;
  /* Usa solo height, non min-height/max-height */
}

main {
  max-height: calc(100dvh - 150px);
  min-height: calc(100dvh - 150px);
  background: linear-gradient(90deg, rgba(0, 213, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 212, 255, 0.1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: auto;
}

.navbar {
  max-height: 100px;
  min-height: 100px;
  font-size: 20px;
  background: white;
  width: 100%;
  box-shadow: 0px 6px 9px -4px rgba(22, 74, 130, 1);
  z-index: 1;
}

#sing-in-wrapper {
  display: flex;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 20px;
}

.navbar a:hover {
  text-decoration: underline;
  color: #007bff;
}

.navbar-toggler {
  background-color: white;
}

.nav-item {
  width: 200px;
}

.nav-link {
  background-color: #f8f9fa;
  width: 300px;
}

.dropdown-menu {
  background-color: #f8f9fa;
  width: 300px;
  margin-left: 20px;
  max-height: 200px;
  overflow-y: scroll;
}

.dropdown-item {
  width: 250px;
}

footer {
  max-height: 50px;
  min-height: 50px;
  /* Usa solo height, non min-height/max-height */
  min-height: 50px;
  /* Usa solo height, non min-height/max-height */
  background: rgba(9, 99, 172, 0.733);
  color: black;
  text-align: center;
  width: 100%;
}

.footer a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: none;
  color: rgb(61, 167, 253);
}

.form-label {
  margin-top: 20px;
}

form {
  padding: 20px;
  background-color: #600808;
  max-width: 800px;
  margin: 0 auto;
}

.form-waring {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  footer {
    display: none;
  }

  main {
    max-height: calc(100dvh - 80px);
    min-height: calc(100dvh - 80px);
    /* Prende lo spazio rimanente */
    min-height: calc(100dvh - 80px);
    /* Prende lo spazio rimanente */
    background-color: white;
    overflow-y: auto;
    /* Per avere la scrollbar verticale solo quando necessario */
    overflow-y: auto;
    /* Per avere la scrollbar verticale solo quando necessario */
  }
}